/*Vincent Falardeau, Munkhbat Enkhmenkh, Philippe Gabriel*/

body{
  /*min-width: 1000px; test some time later*/
}

a{
  text-decoration: none;
  color: #000000;
}

p{
  text-align: justify;
}

.navbar{
  width: 100%;
  height: 50px;
  background-color: #0c85c2; /*test color*/
  text-align: center;
  line-height: 50px;
  box-shadow: 2px 2px 2px #000000;
  border-radius: 10px 10px;
  font-size: 125%;
  font-family: Arial, Verdana, sans-serif;
}

.navbar-item{
  margin-left: 30px;
  height: 100%;
  cursor: pointer;
  color: #FFFFFF; /*test color*/
  /* background-image: linear-gradient(.25turn, #0c85c2, #86c9eb); */
  display: inline-block;
  /*border-radius: 10px 10px;*/
}

.navbar-item-main{
  font-weight: bold;
  font-size: +1.5em;
  float: left;
  width: 15%;
}

.navbar-item:hover{
  /*background-color: #0b73a8; /*test color*/
  transition: 0.4s;
  color: #000000;
}

.navbar-item-main:hover{
  background-color: transparent;
  font-size: +1.6em;
  color: #000000;
  /* font-weight: bolder; */
  /* color: red; */
}

.image{
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 10px;
 width: 80%;
}

.content{
  padding: 100px;
}